-- Create departments table
CREATE TABLE IF NOT EXISTS departments (
    department_id TEXT PRIMARY KEY,
    department_name TEXT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- Create designations table
CREATE TABLE IF NOT EXISTS designations (
    designation_id TEXT PRIMARY KEY,
    department_id TEXT NOT NULL,
    level TEXT NOT NULL,
    designation_name TEXT NOT NULL,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

-- Insert departments
INSERT OR REPLACE INTO departments (department_id, department_name) VALUES ('HYD01', 'HR & Payroll');
INSERT OR REPLACE INTO departments (department_id, department_name) VALUES ('HYD02', 'Insurance Services');
INSERT OR REPLACE INTO departments (department_id, department_name) VALUES ('HYD03', 'Consulting & Advisory');

-- Insert designations

-- Create indexes
CREATE INDEX IF NOT EXISTS idx_designations_dept ON designations(department_id);
